<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="centerDiv" style="margin-top:60px;">
            <p>Account Info:</p>
            <div>
                <table border="1" class="centerDiv">
                    <thead>
                        <tr>
                            <th></th><th>info name</th><th>info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var data in userInfo){ %>
                            <% if(data == 'href'){continue;}
                               if(data == 'status'){break;}
                            %>
                        <tr>
                            
                            <td>
                                <% if(data =='xusername'){ %>
                                <button type="button" id='<%=data%>' class="btn btn-default navbar-btn editbtn" style="margin-top:9px; margin-left:2px"><span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>edit data                      <%}else{%>
                                    not editable yet
                                    <%}%>
                            </td>
                            <td>
                                <%=data%>
                            </td>
                            <td class=<%=data%> contenteditable='false'>
                                <%=userInfo[data]%>
                            </td>
                        </tr>  
                        <% } %> 
                        <tr>
                            <td>
                            <button type="button" id='phone_number' class="btn btn-default navbar-btn editbtn" style="margin-top:9px; margin-left:2px"><span class="glyphicon glyphicon-pencil" style="margin-right:5px"></span>edit data</td>
                            <td>Phone Number</td><td class="phone_number" contenteditable='false'><%=phone_number%></td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </body>
</html>