<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    
</head>
    <link rel="stylesheet" type="text/css"
          href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    <script type='text/javascript'
        src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.js"></script>
<body>
    
  <% include ../partials/nav.ejs %>
    <div class="wrap">
        <div class="fleft">
            <p style="margin-left:100px" id="testing">Add a new class:</p>
            <div style="margin-left:100px">
                <% for(var option = 0; option < 3 /*options.length-1*/;option++){ %>
                    <%=options[option]%>:
                        <select id=<%=options[option]%>>
                            <option selected="selected">
                        </select>
                        <br>
                <%}%>
                <div style="overflow:scroll; height:400px;">
                    <table id="myTable" style="width:90%" border="1" data-toggle="table">
                        <thead>
                            <tr>
                                <th>Class nbr </th><th>Class section</th><th>Teacher</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">

                        </tbody>
                    </table>
                </div>    
                <input type="text" placeholder="cell phone number"><button type="button" id="submitData">Submit!</button>
            </div>
        </div>
        <div class="fright">
            Account Info:
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>  </th><th>info name</th><th>info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var data in userInfo){ %>
                            <% if(data == 'href'){continue;}
                               if(data == 'status'){break;}
                            %>
                        <tr>
                            <td>
                                <button class="editbtn" id=<%=data%>>edit</button>
                            </td>
                            <td >
                                <%=data%>
                            </td>
                            <td class=<%=data%> contenteditable='false'>
                                <%=userInfo[data]%>
                            </td>
                        </tr>  
                        <% } %>  
                    </tbody>
                    
                </table>
        </div>
    </div>
</body>
</html>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        /*
       $(document).ready(function(){
            $('#myTable').after('<div id="nav"></div>');
            var rowsShown = 4;
            var rowsTotal = $('#myTable tbody tr').length;
            var numPages = rowsTotal/rowsShown;
            for(i = 0;i < numPages;i++) {
                var pageNum = i + 1;
                $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
            }
            $('#myTable tbody tr').hide();
            $('#myTable tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function(){

                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#myTable tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                        css('display','table-row').animate({opacity:1}, 300);
            });
        });*/
        $(document).ready(function(){
            $('.editbtn').click(function(){
                $(this).html($(this).html() == 'edit' ? 'modify' : 'edit');
                var td = $("." + this.id);
                $("." + this.id).attr("contenteditable", ! $.parseJSON($("." + this.id).attr("contenteditable")));
                
            });
        });
        $("#submitData").unbind('click').click( function (e) {
            clicked()
        });
        $('#inst').unbind('change').change(function(){
            var e = document.getElementById("inst");
            ws.send(JSON.stringify(["get_session",e.options[e.selectedIndex].value]));
            //send message for get session
        })
        $('#session').unbind('change').change(function(){
            var e = document.getElementById("inst");
            var f = document.getElementById("session");
            ws.send(JSON.stringify(["get_dept",e.options[e.selectedIndex].value,
                                               f.options[f.selectedIndex].value]));
            //send message for get session
        })
        $('#dept').unbind('change').change(function(){
            var e = document.getElementById("inst");
            var f = document.getElementById("session");
            var g = document.getElementById("dept");
            ws.send(JSON.stringify(["get_class",e.options[e.selectedIndex].value,
                                               f.options[f.selectedIndex].value,
                                               g.options[g.selectedIndex].value]));
            //send message for get session
        })
        
        clicked = function(){
            var userName = $('.fullName').val();
            var inst = $('#inst').val();
            var session = $('#session').val();
            var dept = $('#dept').val();
            var nbr = $('#class_nbr').val();
            var section = $('#section').val();
            var phoneNbr = $('#your_phone_number').val();
            ws.send(JSON.stringify(["submit",userName,inst,dept,nbr,section,phoneNbr,session]));
        }
        var host = location.origin.replace(/^http/, 'ws')
        var ws = new WebSocket(host);
        ws.onmessage = function (event) {
          var data = JSON.parse(event.data);
          try{
              console.log(data);
              if(data[0] == "inst"){
                  var keys = Object.keys(data[1]);
                  for(var i = 0; i < keys.length; i++){
                      var dropdown = document.getElementById('inst');
                      var option = document.createElement("option");
                      var instName = keys[i]
                      option.value = instName;
                      option.text = data[1][instName];
                      if(instName != undefined && data[1][instName] != undefined) dropdown.add(option);
                  }
              }
              else if(data[0] == "session"){
                  for(var i = 1; i < data.length; i++){
                      var dropdown = document.getElementById('session');
                      var option = document.createElement("option");
                      var sessionName = Object.keys(data[i])[0];
                      option.text = sessionName;
                      option.value = data[i][sessionName];
                      if(sessionName != undefined && data[i][sessionName] != undefined) dropdown.add(option);
                  }
              }
              else if(data[0] == "dept"){
                  var keys = Object.keys(data[1]);
                  for(var i = 0; i < keys.length; i++){
                      var dropdown = document.getElementById('dept');
                      var option = document.createElement("option");
                      var deptName = keys[i]
                      option.text = deptName;
                      option.value = data[1][deptName];
                      if(deptName != undefined && data[1][deptName] != undefined) dropdown.add(option);
                  }
              }
              else if(data[0] == "class_nbr"){ 
                  var table = document.getElementById("tableBody");
                  $("#tableBody").empty();
                  
                  data = data[1]
                  //var nbrs = Object.keys(data);
                  for(var nbr in data){
                      for(var section in data[nbr]){
                          var row = table.insertRow(-1);
                          //row.className = "row";
                          var c3 = row.insertCell(0)
                          c3.className = "cell"
                          c3.innerHTML = data[nbr][section]['Instructor'];
                          var c2 = row.insertCell(0)
                          c2.innerHTML = section
                          c2.className = "cell"
                          var c1 = row.insertCell(0)
                          c1.innerHTML = nbr 
                          c1.className = "cell"
                      }
                  }
              }
              //ws.send("message to be sent")
              //console.log(event.data)
          } catch(err){
              console.log(err)
          }
        };
        setTimeout(function(){
            ws.send(JSON.stringify(["get_inst"]));
            test = function(){
                ws.send(JSON.stringify(["get_session", "QNS01"]));
                ws.send(JSON.stringify(["get_dept","QNS01","1162"]));
                ws.send(JSON.stringify(["get_class","QNS01","1162","MATH"]));
            }
            test();                 
                             },1250);
        
        
    </script>
<style>
    tr {
        display: table-row;
    }
    tr:hover {
        background-color: #cccccc;
    }
   
    .wrap {
        width: 100%;
        height: 1000px;
        overflow:auo;
    }

    .fleft {
        float:left; 
        width: 50%;
        height: 1000px;
    }

    .fright {
        float: right;
        width: 50%;
    }
</style>